/Debug
/Release
/XBServer/Debug
/XBServer/Release
/Drivers/LedDriverPCA9635/Debug
/Drivers/LedDriverPCA9635/Release
/Drivers/LedDriverTLC59116/Debug
/Drivers/LedDriverTLC59116/Release
/Drivers/RelayPCA9535/Debug
/Drivers/RelayPCA9535/Release
/Drivers/TextLcdArduino/Debug
/Drivers/TextLcdArduino/Release
/Drivers/ThermoDS1820/Debug
/Drivers/ThermoDS1820/Release
/Drivers/ThermoSHT21/Debug
/Drivers/ThermoSHT21/Release
/ipch
XBServer.sdf
